@page "{id:int}"
@model store.Pages.Games.OrderModel

@{
    ViewData["Title"] = "Order";
}

<h1>Order</h1>

<div>
    <h4>Game</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Console)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Console)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Genre)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Genre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Game.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Game.Price)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Game.ID" />
        <input type="submit" value="Order" class="btn btn-warning" />
        <br /><br />
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
